body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #333;
}

header {
  background-color: #7A0026;
  color: white;
  text-align: center;
  padding: 20px;
}

.tareas {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.tarea {
  border: 2px solid #7A0026;
  padding: 15px;
  width: 45%;
}

.tarea img, .tarea video {
  width: 100%;
}

.info {
  padding: 20px;
}

footer {
  background-color: #7A0026;
  color: white;
  text-align: center;
  padding: 10px;
}
