body {
  background-color: #7A0026; /* IBERO */
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

canvas {
  background-color: black;
  border: 4px solid white;
  margin-top: 20px;
}
